
		<!-- Contact -->
			<div class="wrapper style4">
				<article id="contact" class="container small">
					<header>
						<h2>Have me make stuff for you.</h2>
						<p>Leave me a message and I will contact you as soon as I can</p>
					</header>
					<div>
						<div class="row">
						
						<!--
						
						Use the Simpleforms extension to create your own form and settings.
						
						-->
						
						
							<div class="12u">
								<form method="post" action="#">
									<div>
									 {% if SimpleForms is defined %}  
									    {{ SimpleForms.simpleForm('contact') }}
									 {% else %}
										   <div class="row">
											<div class="6u">
												<input type="text" name="name" id="name" placeholder="Name" />
											</div>
											<div class="6u">
												<input type="text" name="email" id="email" placeholder="Email" />
											</div>
										      </div>
										    <div class="row">
											<div class="12u">
												<input type="text" name="subject" id="subject" placeholder="Subject" />
											</div>
										    </div>
										    <div class="row">
											<div class="12u">
												<textarea name="message" id="message" placeholder="Message"></textarea>
											</div>
										    </div>
										    <div class="row double">
											<div class="12u">
												<ul class="actions">
													<li><input type="submit" value="Send Message" /></li>
													<li><input type="reset" value="Clear Form" class="alt" /></li>
												</ul>
											</div>
										    </div>
									  {% endif %}					
									</div>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<hr />
								<h3>Find me on ...</h3>
								<ul class="social">
									<li><a href="http://twitter.com/melindak" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.linkedin.com/pub/melinda-kiss" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="http://github.com/damnlie" class="icon fa-github"><span class="label">Github</span></a></li>
									<!--
									<li><a href="{{ theme.facebook }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="{{ theme.dribbble }}" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
									<li><a href="{{ theme.tumblr }}" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>
									<li><a href="{{ theme.google-plus }}" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
									<li><a href="#" class="icon fa-rss"><span>RSS</span></a></li>
									<li><a href="#" class="icon fa-instagram"><span>Instagram</span></a></li>
									<li><a href="#" class="icon fa-foursquare"><span>Foursquare</span></a></li>
									<li><a href="#" class="icon fa-skype"><span>Skype</span></a></li>
									<li><a href="#" class="icon fa-soundcloud"><span>Soundcloud</span></a></li>
									<li><a href="#" class="icon fa-youtube"><span>YouTube</span></a></li>
									<li><a href="#" class="icon fa-blogger"><span>Blogger</span></a></li>
									<li><a href="#" class="icon fa-flickr"><span>Flickr</span></a></li>
									<li><a href="#" class="icon fa-vimeo"><span>Vimeo</span></a></li>
									-->
								</ul>
								<hr />
							</div>
						</div>
					</div>
					<footer>
						<ul id="copyright">
							<li>&copy; All rights unreserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>
				</article>
			</div>

	</body>
</html>