{% include '_header.twig' %}
		<!-- Home -->
			<div class="wrapper style1 first">
				<article class="container" id="top">
					<div class="row">
						<div class="4u">
							<span class="image fit"><img src="{{ paths.theme }}images/miniportimage.png" alt="" /></span>
						</div>
						<div class="8u">
							<header>
								<h1>Hi. I'm <strong>Melinda Kiss</strong></h1>
							</header>
							<p>I'm an outgoing and energetic person who enjoys a challenge and achieving personal goals. I love robots, animals, computergames and traveling.</p>
							<a href="#work" class="button big scrolly">Learn about what I do</a>
						</div>
					</div>
				</article>
			</div>

		<!-- Work -->
			<div class="wrapper style2">
				<article id="work">
					<header>
						<h2>Here's some of the stuff I do.</h2>
						I have a work portfolio, some personal projects and some other contributions to share.
					</header>
					
					
					<!--
					    First three "pages" in Bolt are used to display this information
					-->
					
					
					<div class="container">
						<div class="row">
							<div class="4u">
								<section class="box style1">
									<span class="icon featured fa-paint-brush"></span>
									<h3><a href="/portfolio"> Portfolio </a></h3>
									<p>A portolio of my work</p>
								</section>
							</div>
							<div class="4u">
								<section class="box style1">
									<span class="icon featured fa-fire"></span>
									<h3><a href="/projects"> Projects </a></h3>
									<p>Projects I work on</p>
								</section>
							</div>
							<div class="4u">
								<section class="box style1"> 
									<span class="icon featured fa-group"></span>
									
									{% setcontent page = 'page' where { id: '3' } %}
									
									<h3><a href="/page/contributions">{{ page.title }}</a></h3>
									<p>My Open Source contributions</p>
								</section>
							</div>
						</div>
					</div>
					<footer>
						<p>Still interested?</p>
						<a href="#portfolio" class="button big scrolly">See some of my recent work</a>
					</footer>
				</article>
			</div>

		<!-- Portfolio -->
			<div class="wrapper style3">
				<article id="portfolio">
					<header>
						<h2>Random Mix</h2>
						<p>This is a random mix of my projects and portfolio.</p>
					</header>
					

					
					<div class="container">
						<div class="row">
						{% setcontent portfolio = 'portfolio/random/3' %}
						{% for port in portfolio %}
							<div class="4u">
							
								<article class="box style2">
								
									<a href="{{ port.link }}" class="image featured"><img src="{{ thumbnail(port.image, 383, 269) }}" alt="" /></a>
									<h3 style="min-height:0px;"><a href="{{ port.link }}">{{ port.title }}</a></h3>
									{{ port.teaser }}
								</article>
							
							</div>
							
						{% endfor %}
							
						</div>
						
						<div class="row">
						{% setcontent portfolio = 'projects/random/3' %}
						{% for port in portfolio %}
							<div class="4u">
							
								<article class="box style2">
								
									<a href="{{ port.link }}" class="image featured"><img src="{{ thumbnail(port.image, 383, 269) }}" alt="" /></a>
									<h3 style="min-height:0px;"><a href="{{ port.link }}">{{ port.title }}</a></h3>
									{{ port.teaser }}
								</article>
							
							</div>
							
						{% endfor %}
							
						</div>
					</div>
					<footer>
						<a href="#contact" class="button big scrolly">Get in touch with me</a>
					</footer>
				</article>
			</div>
{% include '_footer.twig' %}