{% include '_header.twig' %}
		<!-- Home -->
			<div class="wrapper style1 first">
				<article class="container" id="top">
					<div class="row">
						<div class="4u">
							<span class="image fit"><img src="{{ paths.theme }}/images/catsense.jpg" alt="" /></span>
						</div>
						<div class="8u">
							{% if theme.myname is defined and theme.intro is defined %}
							<header>
								<h1>Hi. I'm <strong>{{ theme.myname }}</strong></h1>
							</header>
							<p>{{ theme.intro }}</p>
							<a href="#work" class="button big scrolly">Learn about what I do</a>
							{% else %}
							  <header>
								<h1>Hi. I'm <strong>{{ ('Your Name') }}</strong></h1>
							  </header>
							  <p>{{ ('Your introduction goes here. Tell the World about yourself.') }}</p>
							  <a href="#work" class="button big scrolly">Learn about what I do</a>
							{% endif %}
						</div>
					</div>
				</article>
			</div>

		<!-- Work -->
			<div class="wrapper style2">
				<article id="work">
					<header>
					
						{% if theme.workheader is defined and theme.worksecondlineheader is defined %}
						<h2>{{ theme.workheader }}</h2>
						{{ theme.worksecondlineheader }}
						{% else %}
						  <h2>{{ ('This is for your work header') }}</h2>
						  {{ ('This is for extra information') }}
						{% endif %}
					</header>
					
					
					<!--
					    First three "pages" in Bolt are used to display this information
					-->
					
					
					<div class="container">
						<div class="row">
							<div class="4u">
								<section class="box style1">
									{% if theme.leftboxtitle is defined and theme.leftboxextratext is defined and theme.leftboxlink %}
									<span class="icon featured fa-paint-brush"></span>
									<h3><a href="{{ theme.leftboxlink }}">{{ theme.leftboxtitle }}</a></h3>
									<p>{{ theme.leftboxextratext }}</p>
									{% else %}
									  <span class="icon featured fa-paint-brush"></span>
									  <h3><a href="">{{ ('Thing goes here') }} </a></h3>
									  <p>{{ ('Extra information goes here') }}</p>
									{% endif %}
								</section>
							</div>
							<div class="4u">
								<section class="box style1">
									{% if theme.middleboxlink is defined and theme.middleboxtitle is defined and theme.middleboxextratext is defined %}
									<span class="icon featured fa-fire"></span>
									<h3><a href="{{ theme.middleboxlink }}">{{ theme.middleboxtitle }}</a></h3>
									<p>{{ theme.middleboxextratext }}</p>
									{% else %}
									  <span class="icon featured fa-fire"></span>
									  <h3><a href="">{{ ('Other things') }}</a></h3>
									  <p>{{ ('Extra information') }}</p>
									{% endif %}
								</section>
							</div>
							<div class="4u">
								<section class="box style1">
									{% if theme.rightboxtitle is defined and theme.rightboxextratext is defined and theme.rightboxlink %}
									<span class="icon featured fa-group"></span>
									<h3><a href="{{ theme.rightboxlink }}">{{ theme.rightboxtitle }}</a></h3>
									<p>{{ theme.rightboxextratext }}</p>
									{% else %}
									  <span class="icon featured fa-group"></span>
									  <h3><a href="">{{ ('Something else') }}</a></h3>
									  <p>{{ ('Extra information') }}</p>
									{% endif %}
								</section>
							</div>
						</div>
					</div>
					<footer>
						<p>Still interested?</p>
						<a href="#portfolio" class="button big scrolly">See some of my recent work</a>
					</footer>
				</article>
			</div>

		<!-- Portfolio -->
			<div class="wrapper style3">
				<article id="portfolio">
					<header>
						{%if theme.portfolioheader is defined and theme.portfoliosecondlineheader is defined %}
						<h2>{{ theme.portfolioheader }}</h2>
						<p>{{ theme.portfoliosecondlineheader }}</p>
						{% else %}
						  <h2>{{ ('This is for your portfolio header') }}</h2>
						  <p>{{ ('This can explane more') }}</p>
						{% endif %}
					</header>
					

					
					<div class="container">
						<div class="row">
						{% setcontent portfolio = 'entries/random/6' %}
						{% for port in portfolio %}
							<div class="4u">
							
								<article class="box style2">
								
									<a href="{{ port.link }}" class="image featured"><img src="{{ thumbnail(port.image, 383, 269) }}" alt="" /></a>
									<h3 style="min-height:0px;"><a href="{{ port.link }}">{{ port.title }}</a></h3>
									{{ port.teaser }}
								</article>
							
							</div>
							
						{% endfor %}
							
						</div>
					</div>
					<footer>
						<a href="#contact" class="button big scrolly">Get in touch with me</a>
					</footer>
				</article>
			</div>
{% include '_footer.twig' %}